<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079796711499-q5c5hkrff76tmk1kspmoofh672g2m4ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079796711499-q5c5hkrff76tmk1kspmoofh672g2m4ir</string>
	<key>API_KEY</key>
	<string>AIzaSyDsZsltwy4k1VAmpCJ1pf91m-dl9aOojbY</string>
	<key>GCM_SENDER_ID</key>
	<string>1079796711499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cmgame.martfarm</string>
	<key>PROJECT_ID</key>
	<string>mini-mart-idle-farm-tycoon</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-mart-idle-farm-tycoon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079796711499:ios:ba7d21012448b212510dce</string>
</dict>
</plist>